/* Font Dejavu */

@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans.ttf");
}

body {
    margin: 0;
}


/* Dispositivo todo */

#device {
    position: relative;
    top: 20%;
    width: 10cm;
    margin: auto;
    text-align: center;
}


/* Botões */

.btn {
    display: inline-block;
    width: 0.8cm;
    height: 0.2cm;
    border-radius: 0.16cm 0.16cm 0px 0px;
    background-color: #161616;
}

#LCKBtn {
    transform: translateX(2.8cm) translateY(0.1cm);
}

#HLPBtn {
    transform: rotate(-90deg) translateX(-1.2cm) translateY(-4cm);
}

/* LED */
#notifLED{
	border-radius: 50%;
	background-color: grey;
	height: 0.15cm;
	width: 0.15cm;
	transform: translateX(5cm) translateY(-0.18cm);
}

/* Ecrã */

#screen {
    width: 6.5cm;
    height: 3.6cm;
    border: 0.2cm solid #161616;
    border-radius: 0.4cm;
    margin: auto;
}


/* Páginas do ecrã */

.page {
    height: 3.6cm;
    width: 6.5cm;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.13cm;
    font-family: "DejaVu Sans";
    background: linear-gradient(45deg, #000c1e, #0f2354, #193d96);
    color: white;
}


/* Ícones */

.icon {
    border-radius: 18%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mainIcon {
    border: 0.08cm solid white;
    border-radius: 13%;
    width: 1.5cm;
    height: 1.5cm;
    justify-self: center;
    background-color: white;
}

.moveIcon {
    background-color: white;
}

.transpIcon, .piIcon, .cardIcon, .switchIcon {
    border: 0.07cm solid white;
    width: 1.2cm;
    height: 0.65cm;
    background-color: white;
}

.transpCategIcon, .piCategIcon {
    border: 0.07cm solid white;
    width: 1.3cm;
    height: 0.75cm;
    background-color: white;
}

.dirIcon {
    border: 0.07cm solid white;
    width: 0.6cm;
    height: 0.6cm;
    background-color: white;
}

#transpIcon {
    background-image: url("images/busIcon.svg");
}

#piIcon {
    background-image: url("images/interestPointIcon.svg");
}

#payIcon {
    background-image: url("images/paymentIcon.svg");
}


/* Transportes */
.boatIcon {
    background-image: url("images/boatIcon.svg");
}

.planeIcon {
    background-image: url("images/planeIcon.svg");
}

.trainIcon {
    background-image: url("images/trainIcon.svg");
}

.busIcon {
    background-image: url("images/busIcon.svg");
}


/* PI */
.libIcon {
    background-image: url("images/libraryIcon.svg");
}

.restIcon {
    background-image: url("images/restaurantIcon.svg");
}

.galIcon {
    background-image: url("images/galleryIcon.svg");
}

.parkIcon {
    background-image: url("images/parkIcon.svg");
}

.buyIcon {
	background-image: url("images/buyIcon2.svg");
	height: 0.6cm;
	width: 0.6cm;
}

/* Direções */
.turnLeft{
    background-image: url("images/turnLeft.svg");
}

.turnLeftBack{
    background-image: url("images/turnLeftBack.svg");
}

.turnLeftFront{
    background-image: url("images/turnLeftFront.svg");
}

.turnRight{
    background-image: url("images/turnRight.svg");
}

.turnRightBack{
    background-image: url("images/turnRight.svg");
}

.turnRightFront{
    background-image: url("images/turnRightFront.svg");
}

.straightAhead{
    background-image: url("images/straightAhead.svg");
}

.endPathIcon{
	background-image: url("images/interestPointIcon.svg");
}


/* Pagamentos */
.cancelledIcon {
    border-width: 0cm;
    width: 0.8cm;
    height: 0.8cm;
    margin: 0.3cm;
    margin: auto;
    position: relative;
    bottom: 0.2cm;
    background-image: url("images/cancelledIcon.svg");
}

.verifiedIcon {
    border-width: 0cm;
    width: 0.8cm;
    height: 0.8cm;
    margin: 0.3cm;
    margin: auto;
    position: relative;
    bottom: 0.2cm;
    background-image: url("images/verifiedIcon.svg");
}

.Visa {
    background-image: url("images/visaLogo.svg");
}

.MasterCard {
    background-image: url("images/masterCardLogo.svg");
}

.Desconhecido {
    background-image: url("images/noCardLogo.svg");
}

.switchIcon {
    width: 0.9cm;
    height: 0.7cm;
    background-image: url("images/switchIcon.svg");
}

.cancelIcon {
    width: 2.3cm;
    height: 0.3cm;
    border-radius: 10%;
    position: relative;
    right: 0.05cm;
    background-image: url("images/cancelIcon.svg");
    background-position: center;
    padding: 0.1cm;
    background-clip: content-box;
    border: 0.05cm solid #909fbdd9;
}

.confirmIcon {
    width: 2.5cm;
    height: 0.5cm;
    border-radius: 10%;
    position: relative;
    left: 0.05cm;
    background-image: url("images/confirmIcon.svg");
    border: 0.05cm solid #909fbdd9;
}

/* Gerais */
.backIcon {
    width: 0.56cm;
    height: 0.56cm;
    background-image: url("images/leftArrowIcon.svg");
}

.addIcon {
    width: 0.5cm;
    height: 0.5cm;
    background-image: url("images/plusIcon.svg");
}

.nextIcon {
    width: 0.56cm;
    height: 0.56cm;
    background-image: url("images/rightArrowIcon.svg");
}

.trashIcon {
    width: 0.56cm;
    height: 0.56cm;
    background-image: url("images/trashIcon.svg");
}

.arrow {
    height: 0.4cm;
    align-self: center;
}

.upArrow {
    background-image: url("images/upArrowIcon.svg");
    position: relative;
    bottom: 0.15cm;
}

.downArrow {
    background-image: url("images/downArrowIcon.svg");
    position: relative;
    top: 0.15cm;
}

.leftArrow {
    background-image: url("images/leftArrowIcon.svg");
    width: 0.4cm;
}

.rightArrow {
    background-image: url("images/rightArrowIcon.svg");
    width: 0.4cm;
}

.plusBtn {
    background-image: url("images/plusIcon.svg");
    width: 0.35cm;
}

.minusBtn {
    width: 0.3cm;
    background-image: url("images/minusIcon.svg");
}

.noBtn, .yesBtn {
    position: relative;
    margin: 0.6cm 0.3cm 0.15cm 0.3cm;
    border-width: 0.035cm;
    align-self: center;
    padding: 0.08cm 0.15cm 0.08cm 0.15cm;
    bottom: 0.35cm;
    border-radius: 12%;
    border-color: #1e0000;
    border: 0.05cm solid #909fbdd9;
}

#yPayMsg, #nPayMsg {
    display:  inline;
    margin: 0 0.15cm 0 0.15cm;
    font-size: 10.5pt;
    padding: 0.05cm 0.2cm 0.05cm 0.2cm;
}


/* Containers */

.parentContainer {
    position: relative;
    top: 0.25cm;
    display: table;
    width: 5.9cm;
    height: 3.2cm;
    margin: auto;
}

.centerContainer {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.bottomContainer {
    position: relative;
    height: 2.25cm;
    border-radius: 0.3cm;
    vertical-align: bottom;
    //background-color: #660000;
    //border: 0.06cm solid black;
}

#iconContainer {
    margin: auto;
    position: relative;
    top: 0.12cm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.2cm;
}

.topContainer {
    height: 0.8cm;
    display: grid;
    position: relative;
    top: -0.1cm;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.1cm;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgba(85, 112, 152, 0.4);
    border-radius: 0.08cm;
    padding: 0cm 0.15cm 0cm 0.15cm;
}

#offscreen {
    background: linear-gradient(45deg, #252828, #000000);
}

.title {
    width: 4.2cm;
    font-size: 11pt;
}

.fourIcons {
    height: 95%;
    width: 60%;
    margin: auto;
    display: grid;
    position: relative;
    top: 0.17cm;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.04cm;
    justify-items: center;
    align-items: center;
}

.timeChooser {
    height: 95%;
    width: 95%;
    position: relative;
    top: 0.05cm;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1cm 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 0.2cm;
    font-size: 0.5cm;
}

.stationChooser {
    height: 96%;
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5cm 0.45cm 3.1cm 0.45cm;
    grid-template-rows: 1cm 1cm;
    justify-items: center;
    align-items: center;
    position: relative;
    top: 0.05cm;
    grid-gap: 0.04cm;
    font-size: 8pt;
}

.scroller {
    display: inline-block;
    flex-direction: column;
}

#lockClock {
    font-size: 1.2cm;
}

#mainClock {
    position: relative;
    font-size: 0.84cm;
    bottom: 0.16cm;
}

#date {
    position: relative;
    bottom: 0.1cm;
}

#allNotifs, #cards, #allLocations, #myPi, #myPiPath, #selCard {
    height: 95%;
    width: 95%;
    position: relative;
    top: 2.5%;
    margin: auto;
    overflow-y: auto;
}

.notif {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: .19cm;
    font-size: 9pt;
}

.pi {
    position: relative;
    display: grid;
    grid-template-columns: 1.3cm 1fr;
    align-items: center;
    margin: .19cm;
    font-size: 9pt;
    column-gap: 0.1cm;
}

.direction {
    position: relative;
    display: grid;
    grid-template-columns: 0.9cm 1fr;
    align-items: center;
    margin-top: .3cm;
    font-size: 8pt;
    column-gap: 0.1cm;
}

.notifIcon, .piIcon {
    display: inline-block;
}

.notifTitle, .piTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3.7cm;
}

.piDist {
    margin-top: 0.02cm;
    font-size: 7.5pt;
}

.editContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10pt;
}

#editSubContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
}


/* Página de Ajuda */

#helpText {
    height: 2.4cm;
    width: 5.6cm;
    margin: auto;
    font-size: 10pt;
    overflow-y: auto;
    position: relative;
    top: 0.1cm;
}


/* Teclado numérico */

#numKeyboard {
    position: relative;
    display: grid;
    //background-color: #770000;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "num num num num" "key key key key" "key key key key" "key key key key";
    border-width: 0cm;
    grid-gap: 0.07cm;
}

.numKey {
    border-radius: 0.2cm;
    height: 0.45cm;
    background-color: #031028;
    border: 0.03cm solid black;
}

#newCardNumber {
    grid-area: num;
    border-radius: 0.15cm;
    height: 0.5cm;
    font-size: 11pt;
    background-color: #031028;
    border: 0.04cm solid black;
    padding: 0.03cm;
}

#valChooser {
    height: 95%;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1cm 1cm 1cm;
    justify-items: center;
    align-items: center;
    grid-gap: 0.2cm;
    font-size: 0.5cm;
    position: relative;
}

#cardCheckContainer {
    height: 95%;
    width: 90%;
    margin: auto;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "numWord num num num num num num num num num" "valWord month month month month ponct year year year year" "no no no no no yes yes yes yes yes";
    grid-gap: 0.04cm;
    justify-items: center;
    align-items: center;
}

#noNotifTitle, #noCardsMsg, #noPIMsg{
    position: relative;
    top: 38%;
}

.scard{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: .19cm 0cm 0.19cm 0cm;
    font-size: 9pt;
	border-style: solid;
	border-width: 0.1cm;
	border-color: transparent;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: .19cm 0cm 0.19cm 0cm;
    font-size: 9pt;
}

#payMsg, #piPayMsg, #piNumPay {
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 10.5pt;
    display: flex;
    flex-direction: column;
    padding: 0.2cm;
}

#piNumPay{
	width: 96%;
	top: -0.3cm;
    font-size: 10pt;
}

#payment {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: space-around;
    height: 90%;
    position: relative;
    top: 0.1cm;
}

.simul {
    display: grid;
    grid-template-rows: 1cm 1cm 1cm 1cm;
    grid-gap: 0.04cm;
    text-align: center;
    position: relative;
    top: 1cm;
    width: 4cm;
    left: 3cm;
}

#confirmDeleteCard, #confirmDeletePI {
    height: 95%;
    width: 95%;
    margin: auto;
    position: relative;
    top: 20%;
}

#confirmDeleteNotif, #confirmPayPI {
    position: relative;
    top: 0.3cm;
}

#buyTickets {
    display: grid;
    height: 85%;
    width: 97%;
    margin: auto;
    position: relative;
    top: 0.3cm;
    grid-template-columns: 2fr .5fr .5fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 11pt;
    align-items: center;
    justify-items: center;
    grid-template-areas: "priceT price price price" "quantT upA quant doA" "totalT total total total";
}




/*#myPIPath {
    display: flex;
    flex-direction: row;

}*/

/* SCROLLBARS */

#helpText::-webkit-scrollbar {
    width: 0.2cm;
}

#helpText::-webkit-scrollbar-track {
    border-radius: 0cm;
    border: solid 3px transparent;
}

#helpText::-webkit-scrollbar-thumb {
    background: rgb(148, 167, 206);
    border-radius: 0.09cm;
}

#allNotifs::-webkit-scrollbar {
    width: 0.2cm;
}

#allNotifs::-webkit-scrollbar-track {
    border-radius: 0cm;
}

#allNotifs::-webkit-scrollbar-thumb {
    background: rgb(148, 167, 206);
    border-radius: 0.09cm;
}

#cards::-webkit-scrollbar {
    width: 0.2cm;
}

#cards::-webkit-scrollbar-track {
    border-radius: 0cm;
}

#cards::-webkit-scrollbar-thumb {
    background: rgb(148, 167, 206);
    border-radius: 0.09cm;
}

#myPi::-webkit-scrollbar {
    width: 0.2cm;
}

#myPi::-webkit-scrollbar-track {
    border-radius: 0cm;
}

#myPi::-webkit-scrollbar-thumb {
    background: rgb(148, 167, 206);
    border-radius: 0.09cm;
}

#myPiPath::-webkit-scrollbar {
    width: 0.2cm;
}

#myPiPath::-webkit-scrollbar-track {
    border-radius: 0cm;
}

#myPiPath::-webkit-scrollbar-thumb {
    background: rgb(148, 167, 206);
    border-radius: 0.09cm;
}

#selCard::-webkit-scrollbar {
    width: 0.2cm;
}

#selCard::-webkit-scrollbar-track {
    border-radius: 0cm;
}

#selCard::-webkit-scrollbar-thumb {
    background: rgb(148, 167, 206);
    border-radius: 0.09cm;
}

#allLocations::-webkit-scrollbar {
    width: 0.2cm;
}

#allLocations::-webkit-scrollbar-track {
    border-radius: 0cm;
}

#allLocations::-webkit-scrollbar-thumb {
    background: rgb(148, 167, 206);
    border-radius: 0.09cm;
}
